# Ignore node_modules
/node_modules

# Ignore build directories
/dist

# Ignore log files
*.log

# Ignore system files
.DS_Store
.git
.gitignore

# Ignore Docker-related files
docker-compose.override.yml

# Ignore test files and directories
/tests

# Ignore environment files
.env*
